.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em;
}

.greenscore {
  border: 4px solid #20c169;
  flex-basis: 20%;
}

.greenscore .color-bar {
  height: 5px;
  background-color: #20c169;
  margin: 1em;
}

.greenscore .number {
  font-size: 50px;
}

.greenscore .previous-score-info {

}

.greenscore .number .percent{
  font-size: 20px;
}

.greenscore .comment-text {
  font-size: 20px;
}

.factors {
  border: 4px solid black;
  flex-basis: 20%;
}

.factors > .pt-list-unstyled {
  text-align: left;
}

.factors > .pt-list-unstyled ul {
  list-style: none;
}

.factors > .positive.pt-list-unstyled li:before {
  content: "+";
  margin-left: 1em;
  margin-right: 4px;
}

.factors > .negative.pt-list-unstyled li:before {
  content: "-";
  margin-left: 1em;
  margin-right: 4px;
}

.score-graph {
  border: 4px solid black;
  flex-basis: 20%;
}
